  /* Add some padding on document's body to prevent the content
    to go underneath the header and footer */
	 body {
         text-align: center;
         background-color: #faedcd;
         padding-top: 200px;
         padding-bottom: 20px;}
	  h1 { 
	       font-family: 'Orbitron', sans-serif;
               text-align: center;
		 } 
	  h2 {
	background: #faedcd;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40%;
	color: #b3443c;
	font-family: 'Noto Serif Display', serif;
	font-size: 40px;
    }
	  h3 {
	       font-family: 'El Messiri', serif;
		   color: #723d47;
	       font-size: 25px;
		 }
	  img {
               display: block;
               max-width:100%;
               margin-left: auto;
               margin-right: auto;
              }     
         .split {
                 display: flex;
                 flex-direction: column;
              }   
              @media (min-width: 40em) {
                  .split{
                      flex-direction: row;
                  }
                  }
              
              .bg-purple{
              background-color:#723d47;
              color:#faedcd;}
              .bg-accent{
              background-color:#b3443c;
              color:#faedcd;}
              
          .container {
                  margin-inline: auto;
                  width: min(90%, 70.5rem);     
              }
         section {
                  padding:3rem 0;
              }
	    .fixed-header, .fixed-footer{
        width: 100%;
        position: fixed;        
        background: #2d2125;
        padding: 10px;
        color: #fff;
    }
    .fixed-header{
        top: 0;
    }
    .fixed-footer{
        bottom: 0;
		font-family: 'El Messiri', sans-serif;
    }    
    /* Some more styles to beutify this example */
    nav a{
        color: #fff;
		text-decoration: none;
        padding: 7px 25px;
        display: inline-block;
		font-family: 'El Messiri', sans-serif;
    }
	p {
	font-family: 'El Messiri', sans-serif;
	font-size: 20px;
	text-align: center;
	}
    .wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  width: 33ch;
  animation: typing 2s steps(33), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: 'Noto Serif Display', serif;
  font-size: 40px;
  color: #b3443c;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}